.blog-content img {
    width: 750px;
    height: 250px;
}

.blog-content p{
    color:antiquewhite;
}

.main-content .main-center .side-bar a{
    text-decoration: none;
    color: antiquewhite;
}


.main-content .main-center .side-bar .blog-list-tabs {
    list-style-type: none;
    display: flex;
    gap:10px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:5px;

}

.side-bar .blog-list-tabs #blog-list-btn-games {
    font-weight: bold;
    text-shadow: 2px 2px 2px #52a6ba;
}

.main-content .main-center .side-bar .blog-list-tabs a {

}