* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #fff;
    --bg-txt: #000;
}

.header {
    width: 1200px;  
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.header .logo {
    height: 75px;
    width: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul li {
    border:1px solid slateblue;
}

.header ul li a {
    text-decoration: none;
    color: var(--bg-txt);
}

body{
    background-image: url('/assets/stars5.gif');
}

.main-content{
    width: 1200px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(100, 100, 100,0.5);
    margin: 0 auto;
}
